Facility_ID | INTEGER 
Facility_Name | varchar(255) 
Address | varchar(512)  
City | varchar(255) 
State | varchar(2) 
ZIP_Code | varchar(10) 
County_Name | varchar(255) 
Phone_Number | varchar(25) 
Hospital_Type | varchar(255) 
Hospital_Ownership | varchar(255) 
Emergency_Services | varchar(10) 
Meets_criteria_for_promoting_interoperability_of_EHRs |  varchar(1)
Hospital_overall_rating | SMALLINT  
Hospital_overall_rating_footnote | SMALLINT  
MORT_Group_Measure_CounT | SMALLINT  
Count_of_Facility_MORT_Measures | SMALLINT  
Count_of_MORT_Measures_Better | SMALLINT  
Count_of_MORT_Measures_No_DifferenT | SMALLINT  
Count_of_MORT_Measures_Worse | SMALLINT  
MORT_Group_Footnote | SMALLINT  
Safety_Group_Measure_CounT | SMALLINT  
Count_of_Facility_Safety_Measures | SMALLINT  
Count_of_Safety_Measures_Better | SMALLINT  
Count_of_Safety_Measures_No_DifferenT | SMALLINT  
Count_of_Safety_Measures_Worse | SMALLINT  
Safety_Group_Footnote | SMALLINT  
READM_Group_Measure_CounT | SMALLINT  
Count_of_Facility_READM_Measures | SMALLINT  
Count_of_READM_Measures_Better | SMALLINT  
Count_of_READM_Measures_No_DifferenT | SMALLINT  
Count_of_READM_Measures_Worse | SMALLINT  
READM_Group_Footnote | SMALLINT  
Pt_Exp_Group_Measure_CounT | SMALLINT  
Count_of_Facility_Pt_Exp_Measures | SMALLINT  
Pt_Exp_Group_Footnote | SMALLINT 
TE_Group_Measure_CounT |  SMALLINT 
Count_of_Facility_TE_Measures | SMALLINT  
TE_Group_Footnote | SMALLINT  