Facility_ID | INTEGER
Facility_Name | varchar(255)
Address | varchar(255)
City | varchar(255)
State | varchar(255)
ZIP_Code | varchar(255)
County_Name | varchar(255)
Phone_Number | varchar(255)
Condition | varchar(255)
Measure_ID | varchar(255)
Measure_Name | varchar(255)
Score | SMALLINT 
Sample | SMALLINT
Footnote | varchar(255)
Start_Date | DATE | MM/dd/yyyy
End_Date | DATE  | MM/dd/yyyy 
